/* Reset html */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/
/* 
1 Vị trí
2 Kích thước
3 Màu sắc
4 Kiểu dáng
*/
.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.btn{
    border: none;
    background-color:#000;
    color:#fff;
    display: inline-block;
    /* margin-top: 5px; */
    padding: 8px 16px;
}

.btn:hover{
    background-color: #999;
    cursor: pointer;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}

.col-1{
    width:100%;
}

.col-2{
    width: 50%;
}

.col-3{
    width:33.33333%;
}

.col-4{
    width:25%;
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

#header .mobile-menu{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu,
#header .search{
    float: right;
    padding: 0 21px;
}

#header .search:hover{
    background-color: red;
    cursor: pointer;
}

#header .mobile-menu:hover{
    background-color: #ccc;
}

#header .mobile-menu:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .nav-icon{
    font-size: 20px;
    color: #fff ;
    line-height: 46px;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
    
   /*inline lên cùng 1 hàng  */
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}
#nav li:hover .subnav{
    display: block;
}

#nav  li:hover > a,
#nav .subnav li:hover{
    color:#000;
    background-color: #ccc;
}

#nav .subnav{
    display:none;
    position:absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li{
    min-width: 160px;
}

#nav .subnav a{
    color:#000;
    padding: 0 12px;
    line-height: 38px;
}

#slider{
   padding-top: 50%;
   margin-top: 46px;
   background: url("/asset/img/ny.jpg") top center / cover no-repeat;
    position: relative;
    z-index: 0;
}

.text-content{
    position: absolute;
    bottom: 47px;
    width: 100%;
    color: #fff;
}

.text-headding{
    font-weight: 500;
    font-size: 36px;
}

.text-desc{
    font-size: 18px;
    margin-top: 26px;
}

#content{
    
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-right: 16px;
    padding-left: 16px;
}

#content .content-heading{
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
    /* khoang cach tung chu */
}

#content .content-sub-heading{
    text-align: center;
    font-style: italic;
    color:#666;
    margin: 25px 0;
}

#content .about-text{
    text-align: justify;
}
/*  About  */
#content .members-list{
    margin-top: 48px;
}

#content .members-name{
    font-size: 18px;
}

#content .members-img{
    width: 154px;
    margin: 15px 0 16px 0;
    border-radius: 3px;
}

/* Tour */
.tour-section{
    background-color: #000;
}
    /* Tickets */
.tickets-list{
       background-color: #fff;
}

.tickets-list li{
    font-size: 15px;
    color: #757575;
    list-style: none;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
}

.tickers-sold-out{
    background-color: red;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin: -3px 5px 0 0;
}
    /* Places */

.places-list{
    margin-top: 32px;
}

.places-img{
    width:100%;
    display:block;
}

.places-img:hover{
    opacity: 0.6;
}

.places-body{
    background-color:#fff;
    padding: 16px;
    font-size:15px;
}

.places-heading{
    font-weight: 600;
}

.places-time{
    margin-top:15px;
    color:#999;
}

.places-desc{
    margin:15px 0;
}


/* Content Contact */

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size:18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    width:30px;
    display: inline-block;
}   

.contact-form{
    font-size:15px;
}

.contact-form .from-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .btn{
    float: right;
}

/* Map */
.map-section img{
    width: 100%;
}

/* Footer */
#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list{
    font-size:24px;
}

#footer .social-list a{
    color:rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .social-list a:hover{
    color:rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    font-size:15px;
    margin-top:15px;
    color:rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color:rgba(0, 0, 0, 0.6);
}

/* Modal */

.modal{
    position: fixed;
    right: 0;
    bottom: 0;  
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content:center;
    align-items:center;
    display:none;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width:900px;
    max-width: calc(100% -32px);
    position: relative;
    animation: modalIn ease 0.5s;
}

.modal-close{
    position: absolute;
    right: 0; 
    top: 0;
    color: #fff;
    padding:12px;
}

.modal-close:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-header{
    background: #009688;
    min-height: 130px;
    display: flex;
    justify-content:center;
    align-items:center;
    color: #fff;
    font-size:30px;
}

.modal-heading{
    margin-left: 10px;
}

.modal-body{
    padding:16px;
}

.modal-lable{
    display: block;
    font-size: 15px;
}

.modal-input{
    border: 1px solid #ddd;
    width: 100%;
    font-size: 15px;
    padding:8px;
    margin: 15px 0;
}
#buy-tickets{
    width: 100%;
    font-size: 16px;
    background-color:#009688;
    border:none;
    color: #fff;
    text-transform: uppercase;
    padding:16px;
}

#buy-tickets:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal-footer{
    float: right;
    margin: 16px;
}

@keyframes modalIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}